# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for dependencies
node_modules/

# Production & desktop builds
dist/
dist-desktop/
build/

# Environment variables
.env
.env.local

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
